@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.priority-high {
  @apply rounded-[6px] bg-red-300 px-2 py-px text-black;
}
.priority-medium {
  @apply rounded-[6px] bg-orange-300 px-2 py-px text-black;
}
.priority-low {
  @apply rounded-[6px] bg-green-300 px-2 py-px text-black;
}
