@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  @apply bg-slate-200;
}

.priority-high {
  @apply rounded-[6px] bg-red-300 px-2 py-px text-black;
}
.priority-medium {
  @apply rounded-[6px] bg-orange-300 px-2 py-px text-black;
}
.priority-low {
  @apply rounded-[6px] bg-green-300 px-2 py-px text-black;
}

input[type="radio"] {
  @apply hidden;
}

.radio-label {
  @apply inline-block cursor-pointer rounded border border-gray-500 px-5 py-2 transition-all;
}

.radio-label-low {
  @apply border-green-300 bg-green-300;
}
.radio-label-medium {
  @apply border-orange-300 bg-orange-300;
}
.radio-label-high {
  @apply border-red-300 bg-red-300;
}

input[type="radio"]:checked + .radio-label-low {
  @apply border-green-500 bg-green-300 text-black shadow-md;
}
input[type="radio"]:checked + .radio-label-medium {
  @apply border-orange-500 bg-orange-300 text-black shadow-md;
}
input[type="radio"]:checked + .radio-label-high {
  @apply border-red-500 bg-red-300 text-black shadow-md;
}
